@tailwind base;
@tailwind components;
@tailwind utilities;

/* helper line-clamp-3 nếu bạn chưa cài plugin */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}